server:
  port: 8080

spring:
#  datasource:
#    url: jdbc:postgresql://localhost:5432/discodeit
#    username: discodeit_user
#    password: discodeit1234
  datasource:
    url: jdbc:h2:file:~/session-practice;AUTO_SERVER=TRUE;MODE=PostgreSQL
    username: sa
    password:
  jpa:
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.sprint.mission.discodeit: debug
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
    org.springframework.security: TRACE

management:
  endpoint:
    health:
      show-details: always
  info:
    env:
      enabled: true